{{ define "title" }}Home - My Blog{{ end }}
{{ define "content" }}
<h2 class="text-lg mb-4">Home Page</h2>
<ul class="grid grid-cols-2 gap-4">
  {{ range .Data}}
  <li>
    <a href="/post/{{ .Id }}" class="bg-white rounded-md p-4 hover:bg-gray-200 block">
      <h3 class="text-md font-bold mb-2">{{ .Title }}</h3>
      <p class="">{{ .Excerpt }}</p>
      <p class="text-gray-600 text-sm mt-2">Author: {{ .User.Name }}</p>
      {{if .User.Id}}
      <a href="/post/{{ .Id}}/edit">Edit</a>
      {{end}}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
